.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.body {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.rail {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
  flex-basis: 25%;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 320px;
}
