.container {
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(31, 32, 47, 0.97);
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.action {
  border: 0;
  cursor: pointer;
  line-height: 45px;
  text-align: center;
  width: 50%;
  transition: 0.15s all;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
